/** @format */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --spread: relative;
  --color: #ff770f;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.9rem;
}

nav .nav-items .active-item {
  color: #fe6139;
  font-weight: bold;
}
nav img:last-child {
  width: 400px;
}

.intro-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.8rem;
}

.nav-item {
  margin: 20px;
}

h1 {
  font-size: 5rem;
  font-family: "Fira Sans", sans-serif;
}
h3 {
  font-size: 2rem;
}

.buttonone {
  background-color: var(--color);
  border-radius: 100%;
  padding: 4px;
  margin: 0 18px;
  position: var(--spread);
  top: 0.3rem;
}
button {
  padding: 12px 30px;
  margin: 5px 8px;
  border-radius: 15px;
  background-color: var(--color);
  font-family: "Fira Sans", sans-serif;
  color: #fff;
  font-size: 1.1rem;
}

.images {
  position: var(--spread);
  bottom: 4rem;
  right: 3rem;
  width: 5.5rem;
}

.dots,
.discount-content {
  position: var(--spread);
  bottom: 8.8rem;
  left: 4.7rem;
}
.headphone-div .btn {
  position: relative;
  top: -9rem;
  left: 3rem;
}

.dotone {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.sub-headline {
  font-size: 2rem;
  padding-bottom: 7px;
}

.add {
  position: relative;
  bottom: 3rem;
  left: 6rem;
}
.discount-content {
  left: -2rem;
}

.headphone-div .head_img {
  width: 100%;
}

/* media Querry */

@media screen and (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  nav {
    overflow-x: auto;
  }
  .container {
    align-items: center;
    margin: 0 auto;
  }
  .intro-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .headphone-div .head_img {
    max-width: 22rem;
    margin-top: 1.8rem;
  }
  .buy {
    position: relative;
    right: 2.7rem;
    top: 1rem;
  }
  .left-section {
    font-size: small;
    max-width: 45rem;
    position: relative;
    left: 1.1rem;
  }
  .left-section h3 {
    font-size: 2rem;
  }
  .left-section h1 {
    font-size: 2rem;
    font-weight: bolder;
  }
  .left-section button {
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
  }
  .left-section p {
    max-width: 19rem;
  }
  .left-section .sub-headline {
    font-size: 1.1rem;
  }
  .left-section .sub-headline img {
    width: 1.5rem;
  }
}

@media screen and (max-width: 364px) {
  .buy {
    position: relative;
    right: 3.9rem;
    top: 1rem;
  }
  .intro-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 780px) and (max-width: 1000px) {
  .intro-section {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
  .buy {
    position: relative;
    right: -2.8rem;
    top: 1rem;
  }
  .intro-section .left-section {
    display: grid;
    place-items: center;
  }
}
